.badge-banner {
  height: 100vh;
  width: 100%;
  background-image: url("../src/allbadges.png");
}

h1 {
  font-size: 70 px;
  background: -webkit-linear-gradient(#d60404, #f54e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge {
  height: max-content;
  width: min-content;
  display: flex;
  padding: 2px;
  box-shadow: 5 5 #272729;
}


.applogo {
  width: min-content;
  margin-right: 5px;
}

.appname {
  height: max-content;
  width: max-content;
  margin-left: 2px;
  margin-top: 1px;
}

.c {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: #0866d1;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.clojure {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: #274d9e;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.cplus {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(41, 4, 143);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.csharp {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: green;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.css {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgba(4, 87, 241, 0.815);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.dart {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(22, 12, 175);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.go {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(1, 199, 248);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.gradle {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(33, 37, 33);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.haskel {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(61, 53, 129);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.html {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(197, 8, 8);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.javascript {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(0, 0, 0);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.json {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(65, 70, 65);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.kotlin {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(34, 104, 170);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.latex {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(81, 223, 81);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.leaflet {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(2, 148, 21);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.lua {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(24, 39, 122);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.maven {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: green;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.node {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(199, 26, 26);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.npm {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(119, 13, 13);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.numpy {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(117, 110, 207);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.openjdk {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(231, 142, 8);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.pandas {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(1, 12, 116);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.pearl {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(28, 11, 88);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.php {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(117, 110, 207);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.plsql {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(180, 3, 3);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.python {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: black;
  background-color: rgb(255, 238, 0);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.r {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(45, 91, 143);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.ruby {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(255, 0, 0);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.scratch {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(72, 120, 252);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.spring {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: green;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.springboot {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: green;
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.sql {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(128, 0, 0);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.swift {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(216, 100, 6);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.tensorflow {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(224, 83, 2);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.xml {
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(84, 10, 145);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}

.angular{
  border-radius: 4px;
  display: flex;
  padding: 1px 3px;
  color: white;
  background-color: rgb(177, 12, 12);
  margin-bottom: 2px; box-shadow: 1px 0px 15px rgb(71, 70, 70);
}